.chat-room-page {
  display: flex;
  height: 600px;
  width: 300px;
  justify-content: center;
}

.chat-room-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  max-height: 100%; /* Ensure it does not stretch beyond its allocated space */
  border: 1px solid var(--grey-background);
  border-radius: 10px;
  overflow: hidden;
}

.chat-room-header, .input-container {
   /* Prevents these elements from shrinking */
  flex-shrink: 0;
}

.chat-room-header {
  background-color: rgb(245, 172, 70);
  border-bottom: 1px solid var(--grey-background);
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-details {
  color: white;
  display: flex;
  justify-content: center;
}


.message-display {
  overflow-y: auto;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  padding: 10px;
  background-color: rgb(255, 248, 240);
  flex-grow: 1; /* Allows this element to take up remaining space */
  white-space: pre-wrap; /* Allows text to wrap and preserves whitespace */
  word-wrap: break-word; /* Allows long words to break and wrap to the next line */
}

.message {
  background-color: rgb(252, 233, 212);
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
}

.system-message {
  background-color: var(--chat-system);
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
}

.input-container {
  display: flex;
  padding: 10px;
  flex-direction: row;
  background-color: rgb(255, 234, 204);
}

input {
  flex-grow: 1;
  padding: 8px;
  margin-right: 8px;
  border: 1px solid var(--grey-background);
  border-radius: 6px;
}

.highlighted-sender {
  color: black;
}

.green-sender {
  color: var(--chat-self);
}

.yellow-sender {
  color: var(--chat-other);
}
