.chat-room-page {
  display: flex;
  height: 97%;
  justify-content: center;
}

.chat-room-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.chat-room-header {
  background-color: rgb(245, 172, 70);
  border-bottom: 1px solid #ccc;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-details {
  color: white;
  display: flex;
  justify-content: center;
}

.message-display {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: rgb(255, 248, 240);
}

.message {
  background-color: rgb(252, 233, 212);
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 6px;
}

.input-container {
  display: flex;
  padding: 10px;
  flex-direction: row;
}

input {
  flex-grow: 1;
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.highlighted-sender {
  color: black
}

.green-sender {
  color: rgb(21, 159, 21);
  /* Add any other styles for the green sender */
}

.yellow-sender {
  color: #da7414
  /* Add any other styles for the yellow sender */
}

