:root {
  --common-button: #4caf50;
  --common-button-hover: #45a049;
  --admin-button: #5d99e2;
  --admin-button-hover: #4e5ed2;
  --red-button: #e3242b;
  --red-button-hover: #c01016;

  --light-grey-background: #f0f0f0;
  --grey-background: #cccccc;

  --wordle-unchecked: #b8b8b8;
  --wordle-yellow: #ffe479;
  --wordle-green: #7ed78c;

  --hangman-red: #f55157;

  --chat-self: rgb(21, 159, 21);
  --chat-other: #da7414;
  --chat-system: #c4e8c9;
  --pictionary-background: rgb(248, 223, 194);

  --general-popup-layer: 100;
  --general-overlay-layer: 200;
  --above-overlay-layer: 300;
  --timer-overlay-layer: 400;
  --instruction-overlay-layer: 500;

  --overlay-index: 1000;
  --above-overlay-index: 1001;
  --instruction-overlay-index: 2000;
}

.no-scroll {
  overflow: hidden;
}

.page {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  position: relative;
}

.row-page {
  display: flex;
  flex-direction: row;
  justify-items: center;
  min-height: 100vh;
  margin-left: 2%;
}

.center-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  position: relative;
}

.row-container {
  display: flex; /* Aligns children of container in a row */
  justify-content: space-evenly; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  flex-wrap: wrap; /* Wrap items to next line if space is not enough */
  margin-bottom: 2%;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up-row {
  flex: 0.2;
  flex-wrap: nowrap;
}

.down-row {
  flex: 0.8;
}

.left-column {
  flex: 0.1;
  display: flex;
  flex-direction: column;
}

.main-column {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.right-column {
  flex: 0.2;
}

.avatar {
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Make the image circular */
}

.guest {
  display: flex; /* Aligns children of guest vertically */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally in the column */
  margin: 10px; /* Add some space around each guest */
  position: relative;
}

.button {
  min-width: 100px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  margin: 5px 5px;
  padding: 15px 20px;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0.8rem;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.button:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

.button:disabled {
  filter: grayscale(100%);
  cursor: not-allowed; /* Change cursor to indicate the button is not clickable */
}

.small-button {
  padding: 10px 10px;
  font-size: 0.8rem;
}

.admin-only-button {
  background-image: url("../assets/AdminButton.png");
}

.common-button {
  background-image: url("../assets/CommonButton.png");
}

.red-button {
  min-width: 10px;
  background-image: url("../assets/RedButton.png");
}

.overlay-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--overlay-index); /* Ensure it's above other content */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid var(--grey-background);
  box-shadow: 0 0 10px var(--grey-background);
  z-index: 999;
  text-align: center;
}

.outside-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid var(--grey-background);
  box-shadow: 0 0 10px var(--grey-background);
  z-index: 2000;
  text-align: center;
}

.arrow-indicator {
  position: absolute;
  top: 50%;
  left: -20px; /* Adjust the distance from the left */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px; /* Adjust the size and direction of the arrow */
  border-color: transparent transparent transparent var(--admin-button); /* Adjust the arrow color */
}

.indicator {
  border-radius: 50%;
  width: 20px; /* Set a fixed width */
  height: 20px; /* Set a fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Set text color to white */
  font-weight: bold; /* Make the text bold */
}

.indicator:hover {
  opacity: 0.8;
}

.indicator:hover::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9); /* Half-transparent background */
  padding: 10px;
  border-radius: 5px;
  color: white;
  display: block;
  text-align: center;
}

.input-status-indicator {
  background-color: var(--common-button);
}

.input-status-indicator:hover::before {
  content: "Information completed";
}

.presented-status-indicator {
  background-color: var(--admin-button);
}

.presented-status-indicator:hover::before {
  content: "Presented";
}

.instruction-button-container {
  position: absolute;
  top: 1.9%;
  left: 4.5%;
  margin: 10px; /* Adjust as needed for spacing */
}
