.building-penguin {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 40%;
  height: auto;
}

.create-room-heading {
  font-size: 2.5rem; /* Increase the font size of the heading */
  margin-top: 17%; /* Increase spacing below the heading */
  margin-bottom: 5%;
}

.create-room-form-input {
  font-size: 1.2rem; /* Increase the font size of the input field */
}

.create-button-margin {
  font-size: 1rem; /* Adjust button font size if necessary */
}
