.join-link {
  margin-bottom: 20px;
  text-align: center;
}

.join-link p {
  margin-bottom: 10px;
}

.join-link input {
  width: 100%; /* Full width of its container */
  padding: 10px;
  border: 1px solid #ccc; /* Light grey border */
  border-radius: 4px;
  text-align: center;
}

.form-input,
.submit-button {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.form-input {
  border: 1px solid #ddd;
}
