#color-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.color-selector-button {
  width: 25px;
  height: 25px;
  margin: 2px;
  border: none;
  cursor: pointer;
  border-radius: 30%;
}

#drawing-canvas {
  background-color: var(--pictionary-background);
  border: 1px solid var(--grey-background); /* border around the canvas */
  border-radius: 8px;
}

#eraser {
  margin-left: 10px;
}

/* CSS */
.eraser-cursor {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewport="0 0 24 24" style="fill:white;font-size:24px;"><circle cx="12" cy="12" r="9" style="fill:white;"/></svg>'),
    auto;
}
