.instruction-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 10px;

  border: 3px solid var(--common-button);
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: var(--common-button);
  color: white;
}

.instruction-button:hover {
  color: var(--common-button);
  background-color: transparent;
}

.instruction-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--instruction-layer);
}

.instruction-content {
  position: relative;
  background: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  width: 70%; /* Adjust based on your needs for a larger modal */
  max-width: 800px; /* Ensures content does not become too wide on larger screens */
  max-height: 800px; /* Ensures content does not become too tall */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instruction-navigation button {
  margin: 0 10px;
  cursor: pointer;
}

.instruction-navigation button:hover {
  background-color: rgba(255, 255, 255, 0.694);
}

.close-instruction-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.instruction-content img {
  margin-bottom: 20px;
  border: 1px solid black;
  max-width: 100%;
  max-height: 80vh;
  height: auto;
}

.instruction-content p {
  font-size: 25px;
  margin-bottom: 20px;
}

/* New style for navigation buttons container */
.instruction-navigation {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
