.pictionary-page {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Full height of the viewport */
  justify-items: center;
}

.chat-room-container {
  margin: 10px;
  flex: 1; /* Flex grow to take up 1 portion of the space */
  overflow-y: auto; /* For scrolling in the chat room */
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 22%;
}

.drawing-canvas-container {
  flex: 1;
  display: flex;
}

#back-to-presentroom-button {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  z-index: 1000;
}

.word-display {
  position: fixed;
  top: 10%;
  left: 55%;
  text-align: center;
  font-size: 24px; /* Adjust size as needed */
  font-weight: bold; /* Optional: makes the word/underscores bold */
  color: brown;
}

.underscore-display {
  letter-spacing: 4px;
}

#pictionary-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 1000;
}