.present-page-blackboard-container {
  position: relative;
  text-align: center;
  width: 55%;
  margin-bottom: 2%;
}

.present-page-presenter-on-blackboard {
  position: absolute;
  top: 57%;
  width: 90%;
  display: flex;
  transform: translateY(-50%);
}

.presenter-avatar-position {
  position: relative;
  right: 20%;
}

.presenter-info-container {
  position: absolute;
  left: 50%;
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0%;
}

.presenter-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.info-columns {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.info-item {
  flex: 0 0 40%;
  font-size: 1.2rem;
}

#game-selector {
  position: absolute;
  left: 55%;
  z-index: 100;
  background: #b58560;
  border: 3px solid rgb(230, 168, 86);
  border-radius: 10px;
  padding: 3px;
  display: flex;
  flex-direction: column;
}
