.wait-room-page {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.room-code {
  margin-top: 20px;
}

.first-row-container {
  display: flex; /* Aligns children of container in a row */
  justify-content: space-evenly; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}

.moderator,
.presenter {
  text-align: center;
  margin-left: 120px;
  margin-right: 120px; /* Adjust margin for spacing between containers */
}

.moderator-avatar,
.presenter-avatar {
  /* Set a background image and make it circular */

  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Make the image circular */
}

.guest-avatar {
  /* Your existing styles for the moderator section */

  /* Set a background image and make it circular */
  /* background-image: url("~/public/pic.jpg"); */
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Make the image circular */
}

.guest-container {
  display: flex; /* Aligns children of guest-container in a row */
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
  flex-wrap: wrap; /* Wrap items to next line if space is not enough */
}

.avatar-container {
  position: relative;
  display: inline-block;
}

.input-status-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1cc313; /* Green background or any color you prefer */
  color: rgb(159, 17, 17);
  border-radius: 50%;
  padding: 5px;
  font-size: 15px;
}

.guest {
  display: flex; /* Aligns children of guest vertically */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally in the column */
  margin: 10px; /* Add some space around each guest */
  position: relative;
}

.river {
  height: 50px; /* Adjust the height as needed */
  background-image: url("~/public/river.png");
  background-size: 100% 100%;
}

.guest-list {
  margin-top: 20px;
}

.start-room-button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.start-room-button:hover {
  background-color: #45a049;
}

.leave-room-button {
  position: absolute;
  top: 30px; /* Adjust the top distance as needed */
  right: 30px; /* Adjust the right distance as needed */
  background-color: #e3242b;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.leave-room-button:hover {
  background-color: #c01016;
}

.kick-button {
  background-image: url("~/public/cross.png");
  position: absolute;
  top: -15px;
  right: -25px;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  padding: 20px;
  background-size: 100% 100%;
}

.kick-button:hover {
  position: absolute;
  top: -17px;
  right: -27px;
  /* background-color: transparent; */
  /* border: 2px solid #c01016; */
}
