.room-code {
  margin-top: 20px;
}

.moderator,
.presenter {
  text-align: center;
  margin-left: 120px;
  margin-right: 120px; /* Adjust margin for spacing between containers */
}

.avatar-container {
  position: relative;
  display: inline-block;
}

.input-status-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1cc313; /* Green background or any color you prefer */
  color: rgb(159, 17, 17);
  border-radius: 50%;
  padding: 5px;
  font-size: 15px;
}

.presented-status-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #1382c3; /* Green background or any color you prefer */
  color: rgb(159, 17, 17);
  border-radius: 50%;
  padding: 5px;
  font-size: 15px;
}


.guest-list {
  margin-top: 2%;
}

.leave-room-button {
  position: absolute;
  top: 30px; /* Adjust the top distance as needed */
  right: 30px; /* Adjust the right distance as needed */
  background-color: var(--red-button);
  margin: 10px;
  padding: 10px;
}

.kick-button {
  position: absolute;
  top: -15px;
  right: -25px;
  margin: 10px;
  padding: 20px;
}

.mandatory {
  color: red;
}