.wordle-page {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.guest-list {
  margin-top: 20px;
}

.common-button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.common-button:hover {
  background-color: #45a049;
}

.admin-only-button {
  background-color: #5d99e2;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.admin-only-button:hover {
  background-color: #4e5ed2;
}

.admin-only-button:disabled {
  background-color: #cccccc; /* Grey color for disabled state */
  cursor: not-allowed; /* Change cursor to indicate the button is not clickable */
}
