.wait-room-page {
  text-align: center;
  margin-top: 50px;
}

.room-code {
  margin-top: 20px;
}

.guest-list {
  margin-top: 20px;
}

.start-room-button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.start-room-button:hover {
  background-color: #45a049;
}
